* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F8FAFC;
  font-family: 'Open Sans', sans-serif;
}
#nav{
  height: 80px;
  font-size: 25px;
  border-bottom: 5px solid #E2E8F0;
  background-color: #1E293B;
  display: flex;
  align-items: center;
  justify-content: right;
}
.about{
  padding-left: 25px;
  padding-right: 20px;
  text-align: right; 
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #a67d0e;
}
.aboutactive{
  color: #F4B400;
  padding-left: 25px;
  padding-right: 20px;
  text-align: right; 
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; 
  font-weight: bolder;
}
h1{
  color: #1E293B;
  text-align: center;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 65px;
  font-family: Montserrat;
}
#linkedin{
  padding-left: 30px;
  display: inline-block;
}
img{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-top: 7%;
  margin-left: 11%;
  margin-right: 20px;
  float: left;
}
#aboutme{
  color: #1E293B;
  font-size: 25px;
  padding-right: 20px;
  padding-top: 130px;
}
.edu{
  color: #1E293B;
  font-size: 40px;
  font-weight: 500;
  height: 100px;
  width: 450px;
  background-color: #F8FAFC;
  border: 2px solid #E2E8F0;
  border-radius: 12px;
  margin-top: 40px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectcontainer{
  height: 100px;
  width:500px;
  background-color: #F8FAFC;
  border: 2px solid #E2E8F0;
  border-radius: 12px;
  margin-top: 50px;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 10px;
  justify-self: center;
}
.contact{
  height: 160px;
  width: 160px;
  display: inline-block;
  background-color: #F8FAFC;
  border: 2px solid #E2E8F0;
  margin-top: 100px;
  margin-left: 15px;
  align-content: center;
  text-align: center;
  color: #1E293B;
}
.link{
  text-decoration: none;
  color: #F4B400;
}